<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>导航背景色</key>
			<string>0x996666</string>
			<key>tab背景色</key>
			<string>0xFFFFFF</string>
			<key>tab颜色</key>
			<string>0x69718B</string>
			<key>tab点击高亮色</key>
			<string>0x547FF7</string>
			<key>view背景色</key>
			<string>0xDCDCDC</string>
		</dict>
		<key>Image</key>
		<dict>
			<key>top</key>
			<string>https://lele8446infoq.oss-cn-shenzhen.aliyuncs.com/cjskin/default.jpg</string>
			<key>Image</key>
			<string>http://www.pptbz.com/pptpic/UploadFiles_6909/201306/2013062320262198.jpg</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>文字一</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Size</key>
				<string>23</string>
			</dict>
			<key>详情</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Size</key>
				<string>20</string>
			</dict>
		</dict>
	</dict>
	<key>skin1</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>导航背景色</key>
			<string>0x00CED1</string>
			<key>tab背景色</key>
			<string>0xF2F2F2</string>
			<key>tab颜色</key>
			<string>0x008080</string>
			<key>tab点击高亮色</key>
			<string>0x2F4F4F</string>
			<key>view背景色</key>
			<string>0xD4F2E7</string>
		</dict>
		<key>Image</key>
		<dict>
			<key>top</key>
			<string>https://lele8446infoq.oss-cn-shenzhen.aliyuncs.com/cjskin/skin1.jpg</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>文字一</key>
			<dict>
				<key>Name</key>
				<string>Marker Felt</string>
				<key>Size</key>
				<string>20</string>
			</dict>
			<key>详情</key>
			<dict>
				<key>Name</key>
				<string>Marker Felt</string>
				<key>Size</key>
				<string>15</string>
			</dict>
		</dict>
	</dict>
	<key>skin2</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>导航背景色</key>
			<string>0x454545</string>
			<key>tab背景色</key>
			<string>0xF2F2F2</string>
			<key>tab颜色</key>
			<string>0x67708C</string>
			<key>tab点击高亮色</key>
			<string>0x454545</string>
			<key>view背景色</key>
			<string>0xC0C0C0</string>
		</dict>
		<key>Image</key>
		<dict>
			<key>top</key>
			<string>https://lele8446infoq.oss-cn-shenzhen.aliyuncs.com/cjskin/top.jpeg</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>文字一</key>
			<dict>
				<key>Name</key>
				<string>Kefa</string>
				<key>Size</key>
				<string>16</string>
			</dict>
			<key>详情</key>
			<dict>
				<key>Name</key>
				<string>Kefa</string>
				<key>Size</key>
				<string>12</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
